/*=============================
=            BASIC            =
=============================*/
@import url(https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Condensed:300,400,600|Source+Sans+Pro:300,400,600,700); // &subset=latin,latin-ext
@include font-face("block-regular", "../fonts/block-regular/BLOKKNeue-Regular", $file-formats: eot svg tff woff);


body {
	font: $default-font-size $default-font-stack;
	line-height: $default-line-height;
	@include antialias;
	color: $body-text;
}

a {
	color: $link;
	text-decoration: none;
	&:hover { color: darken($link, 25%) }
}

input, textarea, button {
	@include antialias;
}


/*================================
=            HEADINGS            =
================================*/
h1 {
	margin-bottom: 40px;
	font: 400 26px $roboto-font-stack;
	color: $h1;
	letter-spacing: 2px;
	text-align: center;
	&:after {
		display: block;
		margin: 5px auto 0;
		width: 60px;
		border-bottom: 4px solid $h1-border;
		text-align: center;
		content: "";
	}
}

h2 {
	margin-bottom: 15px;
	font: 20px $roboto-font-stack;
	text-transform: uppercase;
	color: $h2;
}





/*==============================
=            HEADER            =
==============================*/
.intro p {
	font-size: 19px;
	line-height: 28px;
	b {
		font-weight: 600;
		color: darken($body-text, 10%);
	}
}
