/*=====================================
=            FORM ELEMENTS            =
=====================================*/
input, textarea, button {
	font: $default-font-size $default-font-stack;
	line-height: $default-line-height;
	@include antialias;
	color: $body-text;
	border: 0;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	padding: 0 10px;
	@include transition(all $default-transition-time);
	background-color: $input-bg;
	-webkit-appearance: none;
	border-radius: 3px;
	&:focus {
		border-color: darken($input-border, 25%);
		outline: 0;
		&+.input-edges:after, &+.input-edges:before {
			border-color: darken($input-border, 25%);
		}
	}
	@include placeholder {
		color: lighten($body-text, 25%);
	}
}

.error {
	label { color: $input-error }
	input[type="text"], input[type="email"], input[type="url"], textarea {
		border-color: $input-error;
		&+.input-edges:after, &+.input-edges:before {
			border-color: $input-error;
		}
	}
}

input[type="text"], input[type="email"], input[type="url"]{
	position: relative;
	height: 40px;
	border: 1px solid $input-border;
}

textarea {
	padding-top: 10px;
	border: 1px solid $input-border;
}

label {
	display: block;
	color: $label-text;
	font-size: 16px;
}

select {
	width: 100%;
}

a { cursor: pointer }



/*===============================
=            BUTTONS            =
===============================*/
.btn, button {
	display: inline-block;
	padding: 0 20px;
	height: 45px;
	margin-bottom: 5px;
	background: $btn-bg;
	border-radius: 45px;
	font: 400 17px/47px $roboto-font-stack;
	text-transform: uppercase;
	color: $btn-text !important;
	@include transition(all $default-transition-time);
	&:hover { background-color: lighten($btn-bg, 3%) }
	&:active { background-color: darken($btn-bg, 5%) }
	cursor: pointer;
	outline: 0;
	&.btn-red {
		background-color: #E73800;
		&:hover {
			background-color: shade(#E73800, 10%);
		}
	}
	&.btn-small {
		height: 30px;
		font-size: 15px;
		text-transform: none;
		line-height: 30px;
	}
}



/*==============================
=            HEADER            =
==============================*/
.main-nav {
	@include position(fixed, 0 null null 0);
	@include size(100% 72px);
	border-bottom: 1px solid $main-nav-border;
	background: rgba(255,255,255, .95);
	z-index: 9999;
	> ul {
		text-align: center;
		> li {
			display: inline-block;
			margin-right: 40px;
			&:last-child { margin: 0 }
		}
	}
	a {
		display: block;
		position: relative;
		height: 72px;
		font: normal 18px/72px $roboto-font-stack;
		color: $main-nav-text;
		text-transform: uppercase;
		@include transition(color $default-transition-time);
		&:after {
			content: "";
			@include position(absolute, null null -5px 0);
			width: 100%;
			border-bottom: 4px solid $main-nav-active;
			opacity: 0;
			@include transition(bottom $default-transition-time, opacity $default-transition-time);
		}
		&:hover {
			color: darken($main-nav-text, 30%);
		}
		&.active {
			&:after {
				bottom: 0;
				opacity: 1;
			}
		}
	}
}

.archive-list {
	position: relative;
	&:hover .sub-nav {
		top: 72px;
		opacity: 1;
		visibility: visible;
	}
}

.sub-nav {
	@include position(absolute, 50px -10px null null);
	background: rgba(255,255,255, .95);
	list-style: none;
	border: 1px solid $main-nav-border;
	border-top-width: 0;
	border-radius: 0 0 3px 3px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	@include transition(top .2s ease-in-out, opacity .2s ease-in-out);
	li {
		border-bottom: 1px solid $main-nav-border;
		&:last-child {
			border: 0;
		}
	}
	a {
		padding: 10px 50px;
		height: auto;
		font-size: 15px;
		line-height: normal;
		white-space: nowrap;
	}
}

#logo {	margin: 30px 0 }

@include keyframes(hideshow) {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#cursor { @include animation(hideshow 1s ease infinite) }

.toggle-mobile-nav { display: none }


.coming-soon {
	text-align: center;
	padding: 20px 0;
	letter-spacing: 1px;
	font-size: 22px;
	color: $main-nav-text;
}

#program {
	.coming-soon {
		text-align: center;
		padding: 20px 0;
		letter-spacing: 1px;
		font-size: 22px;
		color: #fff;
	}
}



// --- //
// TAB //
// --- //
.tab {
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	a {
		display: inline-block;
		margin-right: 10px;
		padding: 0 20px;
		height: 36px;
		font: 18px $roboto-font-stack;
		text-transform: uppercase;
		font-weight: 200;
		line-height: 36px;
		color: $day-select-text;
		border-radius: 36px;
		border: 1px solid $day-select-border;
		@include transition(all $default-transition-time);
		&:hover, &.active {
			background-color: $day-select-active-bg;
			color: $day-select-active-text;
		}
	}
}

.tab-content {
	display: none;
	@include clearfix;
	&.active {
		display: block;
	}
}


.null-message-box {
	@include position(absolute, 50% null null 50%);
	@include transform(translate(-50%, -50%));
	background-color:#fff;
	padding: 23px 21px 19px;
	border-radius:4px;
	box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.17);
	font:18px $default-font-stack;
	color:$body-text;
	i, .fa {
		display:inline-block;
		vertical-align:middle;
		margin:0 5px 4px 0;
		font-size:28px;
	}
}
