/*=====================================
=            FORM ELEMENTS            =
=====================================*/
input, textarea, button {
	font: $default-font-size $default-font-stack;
	line-height: $default-line-height;
	@include antialias;
	color: $body-text;
	border: 0;
}

input[type="text"], input[type="email"], textarea {
	padding: 0 10px;
	@include transition(all $default-transition-time);
	background-color: $input-bg;
	-webkit-appearance: none;
	border-radius: 3px;
	&:focus {
		border-color: darken($input-border, 25%);
		outline: 0;
		&+.input-edges:after, &+.input-edges:before {
			border-color: darken($input-border, 25%);
		}
	}
}

.error {
	label { color: $input-error }
	input[type="text"], input[type="email"], textarea {
		border-color: $input-error;
		&+.input-edges:after, &+.input-edges:before {
			border-color: $input-error;
		}
	}
}

input[type="text"], input[type="email"] {
	position: relative;
	height: 40px;
	border: 1px solid $input-border;
}

textarea {
	padding-top: 10px;
	border: 1px solid $input-border;
}

label {
	display: block;
	color: $label-text;
	font-size: 18px;
}

a { cursor: pointer }



/*===============================
=            BUTTONS            =
===============================*/
.btn, button {
	display: inline-block;
	padding: 0 20px;
	height: 45px;
	margin-bottom: 5px;
	background: $btn-bg;
	border-radius: 45px;
	font: 400 17px/47px $roboto-font-stack;
	text-transform: uppercase;
	color: $btn-text !important;
	@include transition(all $default-transition-time);
	&:hover { background-color: lighten($btn-bg, 3%) }
	&:active { background-color: darken($btn-bg, 5%) }
	cursor: pointer;
	outline: 0;
	&.btn-red {
		background-color: #E73800;
		&:hover {
			background-color: shade(#E73800, 10%);
		}
	}

	.fa {
		margin-right: 5px;
	}
}



/*==============================
=            HEADER            =
==============================*/
.main-nav {
	@include position(fixed, 0 null null 0);
	@include size(100% 72px);
	border-bottom: 1px solid $main-nav-border;
	background: rgba(255,255,255, .95);
	z-index: 9999;
	ul { text-align: center }
	li {
		display: inline-block;
		margin-right: 40px;
		&:last-child { margin: 0 }
	}
	a {
		display: block;
		height: 72px;
		font: normal 18px/72px $roboto-font-stack;
		color: $main-nav-text;
		@include transition(color $default-transition-time);
		&:hover {
			color: darken($main-nav-text, 30%);
		}
	}
}

#logo {	margin: 30px 0 }

@include keyframes(hideshow) {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#cursor { @include animation(hideshow 1s ease infinite) }

.toggle-mobile-nav { display: none }


.coming-soon {
	text-align: center;
	padding: 20px 0;
	letter-spacing: 1px;
	font-size: 22px;
	color: $main-nav-text;
}

#program {
	.coming-soon {
		text-align: center;
		padding: 20px 0;
		letter-spacing: 1px;
		font-size: 22px;
		color: #fff;
	}
}
