@font-face {
	font-family: 'Kodla';
	src:url('../fonts/Kodla.eot?-ok07ee');
	src:url('../fonts/Kodla.eot?#iefix-ok07ee') format('embedded-opentype'),
		url('../fonts/Kodla.woff?-ok07ee') format('woff'),
		url('../fonts/Kodla.ttf?-ok07ee') format('truetype'),
		url('../fonts/Kodla.svg?-ok07ee#Kodla') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'Kodla';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-web:before {
	content: "\e603";
}

.icon-li:before {
	content: "\e604";
}

.icon-gh:before {
	content: "\e605";
}

.icon-toggle-mobile-nav:before {
	content: "\e602";
}

.icon-fb:before {
	content: "\e600";
}

.icon-tw:before {
	content: "\e601";
}

