/*==============================
=            COMMON            =
==============================*/

@media screen and (min-width: 921px) and (max-width: 1024px) {
	.main-nav > ul > li > a{
		font-size: 15px;
	}
}

@media screen and (min-width: 766px) and (max-width: 920px) {
	.main-nav > ul > li {
		margin-right: 20px;
		a {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {

	#photos .container {
		.col1, .col2, .col50, .col25 {
			width: 100%;
			height: 320px;
			margin: 0 0 4px;
			float: none;
		}

		.col2 { height: auto; }
	}

	.toggle-mobile-nav {
		display: block;
		@include position(fixed, 0 null null 0);
		z-index: 2;
		@include size(100% 72px);
		background-color: #fff;
		font: 18px/72px $roboto-font-stack;
		color: $main-nav-text;
		text-align: left;
		border-bottom: 1px solid $main-nav-border;
		&:hover, .active { color: darken($main-nav-text, 30%) }
		i {
			@include position(relative, 8px null null null);
			margin: 0 6px 0 23px;
			font-size: 32px
		}
	}

	.main-nav {
		display: none;
		top: 72px;
		height: 100%;
		background-color: rgba(0,0,0, .8);
		> ul {
			> li {
				display: block;
				float: none;
				margin: 0;
				border-bottom: 1px solid $main-nav-border;
				> a {
					display: block;
					height: 50px;
					background-color: #fff;
					line-height: 50px;
					&:active { background-color: #f8f8f8 }
				}
			}
		}
		.active {
			background-color: $main-nav-active;
			color: #fff;
			&:after {
				display: none;
			}
		}
	}
	.archive-list {
		> a {
			display: none;
		}
	}
	.sub-nav {
		top: 5px;
		right: 0;
		width: 100%;
		border: 0;
		opacity: 1;
		visibility: visible;
		li {
			display: inline;
			border: 0;
		}
		a {
			display: inline-block;
			@include padding(null 15px);
		}
	}

	/* HEADER */
	#logo {
		margin: 20px 0 10px;
		width: 250px;
	}

	.intro {
		p {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.footer {
		height: auto;
		.footer-logos, .footer-social-media {
			float: none;
			display: inline-block;
		}
		.footer-desc {
			margin: 10px 0;
		}
	}

	/* PROGRAM */
	.timeline-wrap { width: 100% }

	.timeline {
		li, .time, .item { @include transition(none) }
		li {
			padding: 5px 20px;
			border-bottom: 1px solid $timeline-line;
			&:last-child { border: 0 }
			&:hover .time span, &:hover .item { @include transform(scale(1)) }
		}
		.time {
			padding: 10px 0 !important;
			width: auto;
			border: 0;
			&:after, &:before {	display: none }
			span {
				display: inline;
				font-size: 17px;
				&:first-child:after { content: " -" }
			}
		}
		.item {
			float: none;
			padding: 0 0 10px !important;
			width: auto;
			.topic {
				display: block;
				margin-bottom: 10px;
				font-size: 20px;
			}
			.speaker {
				font-size: 16px;
			}
		}
	}

	/* TRANSPORTATION */
	#transportation {
		.desc div {
			float: none;
			width: 100%;
			&:first-child { margin-bottom: 30px }
		}
	}

	/* CONTACT */
	.contact-form, .contact-info {
		float: none !important;
		padding: 0 10px;
		width: 100% !important;
	}
	.contact-form {
		div { margin-bottom: 30px }
		button { width: 100% }
	}

	.contact-info {
		.accounts {
			text-align: center;
			a {
				float: none;
				display: inline-block
			}
		}
	}

	/* SPONSORS */
	#sponsors {
		div {
			margin-bottom: 20px;
			&:last-child {
				margin-top: 50px;
				margin-bottom: 20px;
			}
		}
		a {
			display: block !important;
			margin: 0 0 20px !important;
			text-align: center;
			&:hover { @include transform(scale(1)) }
		}
	}
	.speaker-apply-form {
		div {
			float: none;
			margin-right: 0;
			padding: 0 10px;
			width: 100%;
			min-height: 74px;
		}
		button { width: 100% }
	}
	.tab {
		padding: 0 10px;
		a {
			display: block;
			margin: auto auto 10px;
		}
	}
}





/*================================
=            SPEAKERS            =
================================*/
@media screen and (min-width: 320px) and (max-width: 599px){
	.speaker-list {
		li { padding: 10px }
		figure {
			width: 150px;
			height: 150px;
		}
		p {
			margin-top: 5px;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
@media screen and (min-width: 600px) {
	.speaker-list {
		li  {
			width: 33.3333333333333333%;
			&:nth-child(3n+1) { clear: left }
			&:nth-child(odd) { clear: none }
		}
	}
}

@media screen and (min-width: 55em) {
	.speaker-list {
		li  {
			width: 25%;
			&:nth-child(4n+1) { clear: left }
			&:nth-child(3n+1) { clear: none }
		}
	}
}
