{% extends "base.html" %}

{% load i18n staticfiles %}
{% load recaptcha2 %}


{% block head %}
  {{ block.super }}

  {% recaptcha_explicit_support %}
{% endblock %}

{% block content %}
  <header id="home-hackathon" {% if not hackathon_prizes %}class="single-mode"{% endif %}>
    <div class="wrap">
      <div class="logo">
        {% if activity == activities.first %}
          <a href="{% url 'index' %}">
        {% else %}
          <a href="{% url 'index-year' activity.year %}">
        {% endif %}
          <img src="{% static 'img/bg/kodla-logo.png' %}" alt="Kodla Logo" />
        </a>
      </div>
      
      <div class="images">
        {% if hackathon.main_image %}
          <img
            src="{{ hackathon.main_image.url }}"
            {% if hackathon.main_image_height %}height={{ hackathon.main_image_height|stringformat:"i" }}{% endif %}
            {% if hackathon.main_image_width %}width={{ hackathon.main_image_width|stringformat:"i" }}{% endif %}
          />
        {% endif %}

        {% if hackathon.has_prize and hackathon_prizes %}
          <img src="{{ hackathon_prizes.first.main_image.url }}" />
        {% endif %}
      </div>
      {% if hackathon.has_register_url and hackathon.register_url %}
        <a href="{{ hackathon.register_url }}" class="btn" target="_blank">
          <i class="fa fa-code"></i> {% trans "Sign Up Now" %}
        </a>
      {% endif %}
    </div>
  </header>

  <section id="hackathon-info">
    <div class="wrap">
      <h1>{% trans "ABOUT HACKATHON" %}</h1>

      {% if hackathon.has_description and hackathon.description %}
        {{ hackathon.description|safe }}
      {% else %}
        <br><div class="coming-soon">{% trans "Coming Soon" %}</div>
      {% endif %}
    </div>
  </section>

  <section id="awards">
    <div class="wrap">
      <h1>{% trans "PRIZES" %}</h1>

      {% if hackathon.has_prize and hackathon_prizes %}
        <div class="awards-container">
          {% for hackathon_prize in hackathon_prizes %}
            {% if hackathon_prize.main_image %}
              <div class="award">
                <img
                  src="{{ hackathon_prize.main_image.url }}" alt="{{ hackathon_prize.name }}"
                  {% if hackathon_prize.main_image_height %}height={{ hackathon_prize.main_image_height|stringformat:"i" }}{% endif %}
                  {% if hackathon_prize.main_image_width %}width={{ hackathon_prize.main_image_width|stringformat:"i" }}{% endif %}
                />

                {{ hackathon_prize.description|safe }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <br><div class="coming-soon">{% trans "Coming Soon" %}</div>
      {% endif %}
    </div>
  </section>

  <section id="participants">
    <div class="wrap">
      <h1>{% trans "TEAMS" %}</h1>

      {% if hackathon.has_team_description and hackathon.team_description %}
        {{ hackathon.team_description|safe }}
      {% else %}
        <br><div class="coming-soon">{% trans "Coming Soon" %}</div>
      {% endif %}
    </div>
  </section>

  {% if hackathon.has_comment %}
    {% include "modules/comment.html" %}
  {% endif %}

  {% include "modules/transportation.html" %}

  {% include "modules/sponsors.html" %}

  {% include "modules/contact.html" %}

  {% include "modules/footer.html" %}
{% endblock %}
