{% extends "base.html" %}

{% load i18n staticfiles %}


{% block content %}
	<header id="home">
		<a href="#" class="toggle-mobile-nav"><i class="icon-toggle-mobile-nav"></i>{% trans 'MENU' %}</a>
		<nav class="main-nav">
			<ul>
				<li><a href="#home">{% trans "HOME" %}</a></li>
				<li><a href="#program">{% trans "PROGRAM" %}</a></li>
				<li><a href="#speakers">{% trans "SPEAKERS" %}</a></li>
				<li><a href="#transportation">{% trans "TRANSPORTATION" %}</a></li>
				<li><a href="#contact">{% trans "CONTACT" %}</a></li>
				<li><a href="#sponsors">{% trans "SPONSORS" %}</a></li>
				<ul>
          {% for i in activities %}
            <li>
              <a href="{% url 'index-year' i.year %}" {% if activity == i %}style="font-weight: bold;" {% endif %}>
                {{ i.year }}
              </a>
            </li>
          {% endfor %}
        </ul>
			</ul>
		</nav>

		<div class="wrap">
			<div class="intro">
				{{ activity.logo|safe }}
				{{ activity.description|safe }}

				{% if activity.register_url %}
					<a href="{{ activity.register_url }}" class="btn" target="_blank"><i class="fa fa-ticket"></i>{% trans "Sign Up Now" %}</a>
				{% endif %}

				{% if activity.activity_documents.first %}
					<a href="{{ activity.activity_documents.first.document.url }}" class="btn btn-red" target="_blank"><i class="fa fa-file-pdf-o"></i>{% trans "Become a Sponsor" %}</a>
				{% endif %}
			</div>
		</div>
	</header>

	<section class="latest-tweet">
		<a href="#">
			<div class="wrap">
			<i class="icon-tw"></i>
			<p>&hellip;</p>
			</div>
		</a>
	</section>

	<section id="program">
		<div class="wrap">
			<h1>{% trans "PROGRAM" %}</h1>

			<div class="day-select">
				<a class="active">30 Nisan, Cmt</a>
				<a>01 Mayıs, Pz</a>
			</div>

			<div class="timeline-wrap">

				<ul class="timeline" style="display: block;">

					<li>
						<div class="time">
							<span>10:00</span>
							<span>10:40</span>
						</div>

						<div class="item">
							<span class="topic">Neo4j, Cypher ve Kullanım Alanları</span>
							<span class="speaker">Tuna Vargı</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>10:40</span>
							<span>11:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:00</span>
							<span>11:40</span>
						</div>

						<div class="item">
							<span class="topic">Python ile Metin İşleme ve Sınıflandırma</span>
							<span class="speaker">Fatih Erikli</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:40</span>
							<span>12:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:00</span>
							<span>12:40</span>
						</div>

						<div class="item">
							<span class="topic">Okulu Olmayan Meslek; Arayüz Geliştirici</span>
							<span class="speaker">Adem İlter</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:40</span>
							<span>14:00</span>
						</div>

						<div class="item">
							<span class="topic single-line">Yemek Arası <span class="speaker" style="display:inline-block">(1sa 20dk)</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:00</span>
							<span>14:40</span>
						</div>

						<div class="item">
							<span class="topic">Bir Dişli Olarak Yazılımcı</span>
							<span class="speaker">Uğur Arıcı</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:40</span>
							<span>15:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:00</span>
							<span>15:40</span>
						</div>

						<div class="item">
							<span class="topic">Reactive Streams</span>
							<span class="speaker">Fehmi Can Sağlam</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:40</span>
							<span>16:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>16:00</span>
							<span>16:40</span>
						</div>

						<div class="item">
							<span class="topic">Yazılım Test Teknikleri</span>
							<span class="speaker">Serhat Bolsu</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span style="margin-top:8px;">16:40</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">Program Sonu</span></span>
						</div>
					</li>

				</ul>

				<ul class="timeline">
					<li>
						<div class="time">
							<span>10:00</span>
							<span>10:40</span>
						</div>

						<div class="item">
							<span class="topic">Crystal Lang (Programlama Dili)</span>
							<span class="speaker">Serdar Doğruyol</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>10:40</span>
							<span>11:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:00</span>
							<span>11:40</span>
						</div>

						<div class="item">
							<span class="topic">Çözüm Geliştirirken Pragmatik Davranmak</span>
							<span class="speaker">Aybars Badur</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:40</span>
							<span>12:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:00</span>
							<span>12:40</span>
						</div>

						<div class="item">
							<span class="topic">Big Data</span>
							<span class="speaker">Şadi Evren Şeker</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:40</span>
							<span>14:00</span>
						</div>

						<div class="item">
							<span class="topic single-line">Yemek Arası <span class="speaker" style="display:inline-block">(1sa 20dk)</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:00</span>
							<span>14:40</span>
						</div>

						<div class="item">
							<span class="topic">Android için Retrofit ile API'leri Kullanmak</span>
							<span class="speaker">Ahmet Menteş</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:40</span>
							<span>15:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:00</span>
							<span>15:40</span>
						</div>

						<div class="item">
							<span class="topic">Modern Javascript</span>
							<span class="speaker">Burak Can</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:40</span>
							<span>16:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>16:00</span>
							<span>16:40</span>
						</div>

						<div class="item">
							<span class="topic">Agile 101</span>
							<span class="speaker">Birge Elif Basık</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span style="margin-top:8px;">16:40</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">Program Sonu</span></span>
						</div>
					</li>

				</ul>

			</div>

		</div>
	</section>

	<section id="speakers">
		<div class="wrap">
			<h1>{% trans "SPEAKERS" %}</h1>
			<ul class="speaker-list">
				{% for speaker in speakers %}
					<li>
						{% if speaker.image %}
							<figure><img src="{{ speaker.image.url }}" width="213" height="213"></figure>
						{% endif %}
						<p>{{ speaker.get_full_name }}</p>

						{% with social_accounts=speaker.speakersocialaccount_set.all %}
							{% if social_accounts %}
								<div class="speaker-info">
									{% for social_account in social_accounts %}
										<a href="{{ social_account.url}}" target="_blank">
											{% if social_account.account.style_class %}
												<i class="{{ social_account.account.style_class }}"></i>
											{% else %}
												{{ social_account.account.name }}
											{% endif %}
										</a>
									{% endfor %}
								</div>
							{% endif %}
						{% endwith %}

					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section id="transportation">
		<h1>{% trans "TRANSPORTATION" %}</h1>
		{% if activity_map %}
			<div class="map">
				<div id="map" style="height: 400px; margin-bottom: 50px;"></div>
				<script>

					// The following example creates a marker in Stockholm, Sweden using a DROP
					// animation. Clicking on the marker will toggle the animation between a BOUNCE
					// animation and no animation.

					var marker;

					function initMap() {
						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 16,
							scrollwheel: false,
							center: {lat: {{ activity_map.coordinates.latitude|stringformat:"f" }}, lng: {{ activity_map.coordinates.longitude|stringformat:"f" }}}
						});

						marker = new google.maps.Marker({
							position: map.getCenter(),
							map: map,
							draggable: false,
							animation: google.maps.Animation.DROP
						});
						//marker.addListener('click', toggleBounce);

						var infoWindow = new google.maps.InfoWindow({
							content: '{{ activity_map.description }}'
						});

						// Opens the InfoWindow when marker is clicked.
						marker.addListener('click', function() {
							infoWindow.open(map, marker);
						});
					}

					function toggleBounce() {
						if (marker.getAnimation() !== null) {
							marker.setAnimation(null);
						} else {
							marker.setAnimation(google.maps.Animation.BOUNCE);
						}
					}
				</script>
				<script async defer
				src="https://maps.googleapis.com/maps/api/js?key={{ activity_map_key }}&callback=initMap">
				</script>
			</div>
		{% endif %}
		<div class="wrap">
			<div class="desc">
				<div>
					<h2>{% trans "Event Location" %}</h2>
					{% if activity.address %}
						{{ activity.address|safe }}
					{% else %}
						---
					{% endif %}
					<h2 style="margin-top:20px">{% trans "Accommodation" %}</h2>
					{% if activity.accommodation %}
						{{ activity.accommodation|safe }}
					{% else %}
						---
					{% endif %}
				</div>
				<div>
					<h2>{% trans "Transportation" %}</h2>
					{% if activity.transportation %}
						{{ activity.transportation|safe }}
					{% else %}
						---
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="wrap">
			<h1>{% trans "CONTACT" %}</h1>

			<div class="contact-inner">
				<form action="/send-mail" method="POST" class="contact-form">
					<div>
						<label for="name">{% trans "Name and Surname" %}</label>
						<input type="text" name="name" id="name">
						<span class="input-edges"></span>
					</div>
					<div>
						<label for="email">{% trans "E-Mail Address" %}</label>
						<input type="text" name="email" id="email">
						<span class="input-edges"></span>
					</div>
					<div>
						<label for="message">{% trans "Your Message" %}</label>
						<textarea name="message" name="message" id="message" cols="30" rows="10"></textarea>
					</div>
					<div><button type="submit">{% trans "Send Message" %}</button></div>
				</form>

				<div class="contact-info">
					<div>
						<h2>{% trans "Social Media" %}</h2>
						<p>{% trans "You can follow updates about the event with social links below." %}</p>

						{% with social_accounts=activity.activitysocialaccount_set.all %}
							{% if social_accounts%}
								<div class="accounts">
									{% for social_account in social_accounts %}
										<a href="{{ social_account.url }}">
											<i class="{{ social_account.account.style_class }}"></i>{{ social_account.account.name }}
										</a>
									{% endfor %}
								</div>
							{% endif %}
						{% endwith%}
					</div>

					<div>
						<h2>{% trans "Communicate Now" %}</h2>
						<p>{% trans "If you don't want to use the contact form, you can contact us with email." %} <a href="mailto:&#099;&#111;&#110;t&#097;&#099;t&#064;&#107;&#111;&#100;&#108;&#097;&#046;&#099;&#111;">&#099;&#111;&#110;t&#097;&#099;t&#064;&#107;&#111;&#100;&#108;&#097;&#046;&#099;&#111;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sponsors">
		<h1>{% trans 'SPONSORS' %}</h1>

		<div class="main-sponsors">
			<a href="http://vngrs.com/" target="_blank"><img src="{% static 'img/logos/vngrs-new.png' %}" width="140" alt=""></a>
			<a href="http://unicrow.com" target="_blank"><img src="{% static 'img/logos/unicrow.png' %}" height="70" width="138" alt="Unicrow"></a>
		</div>

		<div class="other-sponsors">
			<a href="http://hipolabs.com" target="_blank"><img src="{% static 'img/logos/hipo.png' %}" width="100" alt=""></a>
			<a href="http://of.bel.tr/" target="_blank"><img src="{% static 'img/logos/of-belediyesi.jpg' %}" width="64" alt=""></a>
			<a href="http://qualifylabs.com/" target="_blank"><img src="{% static 'img/logos/qualify-logo.png' %}" width="125" alt=""></a>
			<a href="http://www.rsiletisim.com.tr/" target="_blank"><img src="{% static 'img/logos/rs-iletisim-small.png' %}" width="165" alt=""></a>
			<a href="http://www.ilbank.gov.tr/" target="_blank"><img src="{% static 'img/logos/ilbank.jpg' %}" height="90"></a>
		</div>
		<div class="other-sponsors">
			<a href="http://188.166.24.135/" target="_blank"><img src="{% static 'img/logos/mavialp.png' %}" width="100" alt=""></a>
			<a href="http://tekobiz.com.tr" target="_blank"><img src="{% static 'img/logos/tekobiz.png' %}" width="160" alt=""></a>
			<a href="http://www.onurteknoloji.com" target="_blank"><img src="{% static 'img/logos/onur-teknoloji.png' %}" width="140" alt=""></a>
			<a href="http://www.aliosmanulusoy.com/" target="_blank"><img src="{% static 'img/logos/aou.jpg' %}" width="170" alt=""></a>
		</div>
		<div class="other-sponsors">
			<a href="http://bulutbil.com.tr" target="_blank"><img src="{% static 'img/logos/bbs.png' %}" width="90" alt=""></a>
			<a href="http://www.indir.com/" target="_blank"><img src="{% static 'img/logos/indir_logo.png' %}" width="150" alt=""></a>
			<a href="http://shiftdelete.net/" target="_blank"><img src="{% static 'img/logos/shiftdelete_logo.png' %}" width="150" alt=""></a>
		</div>
		<div class="other-sponsors">
			<a href="https://www.facebook.com/ktubmk" target="_blank"><img src="{% static 'img/logos/ktucec.png' %}" width="70" alt=""></a>
			<a href="https://www.facebook.com/groups/trabzonhs/" target="_blank"><img src="{% static 'img/logos/trabzon-hs.png' %}" height="82" width="70" alt=""></a>
			<a href="https://www.facebook.com/ktueek" target="_blank"><img src="{% static 'img/logos/ec.png' %}" width="95" alt=""></a>
		</div>

		{% if activity.activity_documents.first %}
			<div class="other-sponsors">
				<a href="{{ activity.activity_documents.first.document.url }}" class="btn btn-red" target="_blank"><i class="fa fa-file-pdf-o"></i>{% trans "Become a Sponsor" %}</a>
			</div>
		{% endif %}
	</section>
{% endblock %}
