{% extends "base.html" %}

{% load i18n staticfiles %}


{% block content %}
	<header id="home">
		<a href="#" class="toggle-mobile-nav"><i class="icon-toggle-mobile-nav"></i> MENÜ</a>
		<nav class="main-nav">
			<ul>
			<li><a href="#home">ANA SAYFA</a></li>
			<li><a href="#program">PROGRAM</a></li>
			<li><a href="#speakers">KONUŞMACILAR</a></li>
			<li><a href="#transportation">ULAŞIM</a></li>
			<li><a href="#contact">İLETİŞİM</a></li>
			<li><a href="#sponsors">SPONSORLAR</a></li>
			</ul>
		</nav>

		<div class="wrap">
			<div class="intro">
				{{ activity.logo|safe }}
				{{ activity.description|safe }}

				{% if activity.register_url %}
					<a href="{{ activity.register_url }}" class="btn" target="_blank"><i class="fa fa-ticket"></i> Hemen Kaydol</a>
				{% endif %}

				{% if activity.activity_documents.first %}
					<a href="{{ activity.activity_documents.first.document.url }}" class="btn btn-red" target="_blank"><i class="fa fa-file-pdf-o"></i> Sponsor Ol</a>
				{% endif %}
			</div>
		</div>
	</header>

	<section class="latest-tweet">
		<a href="#">
			<div class="wrap">
			<i class="icon-tw"></i>
			<p>&hellip;</p>
			</div>
		</a>
	</section>

	<section id="program">
		<div class="wrap">
			<h1>PROGRAM</h1>

			<div class="day-select">
				<a class="active">30 Nisan, Cmt</a>
				<a>01 Mayıs, Pz</a>
			</div>

			<div class="timeline-wrap">

				<ul class="timeline" style="display: block;">

					<li>
						<div class="time">
							<span>10:00</span>
							<span>10:40</span>
						</div>

						<div class="item">
							<span class="topic">Neo4j, Cypher ve Kullanım Alanları</span>
							<span class="speaker">Tuna Vargı</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>10:40</span>
							<span>11:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:00</span>
							<span>11:40</span>
						</div>

						<div class="item">
							<span class="topic">Python ile Metin İşleme ve Sınıflandırma</span>
							<span class="speaker">Fatih Erikli</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:40</span>
							<span>12:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:00</span>
							<span>12:40</span>
						</div>

						<div class="item">
							<span class="topic">Okulu Olmayan Meslek; Arayüz Geliştirici</span>
							<span class="speaker">Adem İlter</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:40</span>
							<span>14:00</span>
						</div>

						<div class="item">
							<span class="topic single-line">Yemek Arası <span class="speaker" style="display:inline-block">(1sa 20dk)</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:00</span>
							<span>14:40</span>
						</div>

						<div class="item">
							<span class="topic">Bir Dişli Olarak Yazılımcı</span>
							<span class="speaker">Uğur Arıcı</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:40</span>
							<span>15:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:00</span>
							<span>15:40</span>
						</div>

						<div class="item">
							<span class="topic">Reactive Streams</span>
							<span class="speaker">Fehmi Can Sağlam</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:40</span>
							<span>16:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>16:00</span>
							<span>16:40</span>
						</div>

						<div class="item">
							<span class="topic">Yazılım Test Teknikleri</span>
							<span class="speaker">Serhat Bolsu</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span style="margin-top:8px;">16:40</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">Program Sonu</span></span>
						</div>
					</li>

				</ul>

				<ul class="timeline">
					<li>
						<div class="time">
							<span>10:00</span>
							<span>10:40</span>
						</div>

						<div class="item">
							<span class="topic">Crystal Lang (Programlama Dili)</span>
							<span class="speaker">Serdar Doğruyol</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>10:40</span>
							<span>11:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:00</span>
							<span>11:40</span>
						</div>

						<div class="item">
							<span class="topic">Çözüm Geliştirirken Pragmatik Davranmak</span>
							<span class="speaker">Aybars Badur</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>11:40</span>
							<span>12:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:00</span>
							<span>12:40</span>
						</div>

						<div class="item">
							<span class="topic">Big Data</span>
							<span class="speaker">Şadi Evren Şeker</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>12:40</span>
							<span>14:00</span>
						</div>

						<div class="item">
							<span class="topic single-line">Yemek Arası <span class="speaker" style="display:inline-block">(1sa 20dk)</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:00</span>
							<span>14:40</span>
						</div>

						<div class="item">
							<span class="topic">Android için Retrofit ile API'leri Kullanmak</span>
							<span class="speaker">Ahmet Menteş</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>14:40</span>
							<span>15:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:00</span>
							<span>15:40</span>
						</div>

						<div class="item">
							<span class="topic">Modern Javascript</span>
							<span class="speaker">Burak Can</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>15:40</span>
							<span>16:00</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">20dk Ara</span></span>
						</div>
					</li>

					<li>
						<div class="time">
							<span>16:00</span>
							<span>16:40</span>
						</div>

						<div class="item">
							<span class="topic">Agile 101</span>
							<span class="speaker">Birge Elif Basık</span>
						</div>
					</li>

					<li>
						<div class="time">
							<span style="margin-top:8px;">16:40</span>
						</div>

						<div class="item">
							<span class="topic single-line"><span class="speaker">Program Sonu</span></span>
						</div>
					</li>

				</ul>

			</div>

		</div>
	</section>

	<section id="speakers">
		<div class="wrap">
			<h1>KONUŞMACILAR</h1>
			<ul class="speaker-list">
				<li>
					<figure><img src="{% static 'img/speakers/adem_ilter.jpg' %}" width="213" height="213"></figure>
					<p>Adem İlter</p>
					<div class="speaker-info">
						<a href="http://ademilter.com/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://twitter.com/ademilter" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://github.com/ademilter" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://tr.linkedin.com/in/ademilter" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/ahmet_mentes.jpg' %}" width="213" height="213"></figure>
					<p>Ahmet Menteş</p>
					<div class="speaker-info">
						<a href="https://github.com/ahmet_mentes" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://tr.linkedin.com/in/ahmet-menteş-9657a72a" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/aybars_badur.jpg' %}" width="213" height="213"></figure>
					<p>Aybars Badur</p>
					<div class="speaker-info">
						<a href="https://about.me/ybrs" target="_blank"><i class="icon-web"></i></a>
						<a href="https://github.com/ybrs" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://tr.linkedin.com/in/aybarsb" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/birge_elif_basik.jpg' %}" width="213" height="213"></figure>
					<p>Birge Elif Basık</p>
					<div class="speaker-info">
						<a href="https://github.com/birgeelif" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://tr.linkedin.com/in/birgeelif" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/burak_can.jpg' %}" width="213" height="213"></figure>
					<p>Burak Can</p>
					<div class="speaker-info">
						<a href="https://burakcan.me/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://twitter.com/neoberg" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://github.com/burakcan" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://tr.linkedin.com/in/brkcan" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/fatih-erikli.png' %}" width="213" height="213"></figure>
					<p>Fatih Erikli</p>
					<div class="speaker-info">
						<a href="http://fatiherikli.com/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://github.com/fatiherikli" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://twitter.com/fthrkl" target="_blank"><i class="icon-tw"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/fehmi_can_saglam.jpg' %}" width="213" height="213"></figure>
					<p>Fehmi Can Sağlam</p>
					<div class="speaker-info">
						<a href="http://fehmicansaglam.net/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://github.com/fehmicansaglam" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://twitter.com/fehmicans" target="_blank"><i class="icon-tw"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/sadi_evren_seker.jpg' %}" width="213" height="213"></figure>
					<p>Şadi Evren Şeker</p>
					<div class="speaker-info">
						<a href="http://sadievrenseker.com/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://twitter.com/sadievrenseker" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://tr.linkedin.com/in/sadiseker" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/serdardogruyol.png' %}" width="213" height="213"></figure>
					<p>Serdar Doğruyol</p>
					<div class="speaker-info">
						<a href="http://serdardogruyol.com" target="_blank"><i class="icon-web"></i></a>
						<a href="https://github.com/sdogruyol" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://tr.linkedin.com/in/serdardogruyol" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/serhat_bolsu.jpg' %}" width="213" height="213"></figure>
					<p>Serhat Bolsu</p>
					<div class="speaker-info">
						<a href="https://github.com/serhatbolsu" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://tr.linkedin.com/in/serhatbolsu" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>
				<li>
					<figure><img src="{% static 'img/speakers/tuna_vagri.jpg' %}" width="213" height="213"></figure>
					<p>Tuna Vargı</p>
					<div class="speaker-info">
						<a href="https://github.com/vargi" target="_blank"><i class="icon-gh"></i></a>
						<a href="https://twitter.com/tunavargi" target="_blank"><i class="icon-tw"></i></a>
					</div>
				</li>

				<li>
					<figure><img src="{% static 'img/speakers/ugur_arici.jpg' %}" width="213" height="213"></figure>
					<p>Uğur Arıcı</p>
					<div class="speaker-info">
						<a href="http://ugurarici.com/" target="_blank"><i class="icon-web"></i></a>
						<a href="https://twitter.com/ugursus" target="_blank"><i class="icon-tw"></i></a>
						<a href="https://tr.linkedin.com/in/ugurarici" target="_blank"><i class="icon-li"></i></a>
					</div>
				</li>


			</ul>
		</div>
	</section>

	<section id="transportation">
		<h1>ULAŞIM</h1>
		<div class="map">
			<div id="map" style="height: 400px; margin-bottom: 50px;"></div>
			<script>

				// The following example creates a marker in Stockholm, Sweden using a DROP
				// animation. Clicking on the marker will toggle the animation between a BOUNCE
				// animation and no animation.

				var marker;

				function initMap() {
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 16,
						scrollwheel: false,
						center: {lat: 40.9986541, lng: 39.7647685}
					});

					marker = new google.maps.Marker({
						position: map.getCenter(),
						map: map,
						draggable: false,
						animation: google.maps.Animation.DROP
					});
					//marker.addListener('click', toggleBounce);

					var infoWindow = new google.maps.InfoWindow({
						content: 'Prof. Dr. Osman Turan Kültür ve Konferans Salonu'
					});

					// Opens the InfoWindow when marker is clicked.
					marker.addListener('click', function() {
						infoWindow.open(map, marker);
					});
				}

				function toggleBounce() {
					if (marker.getAnimation() !== null) {
						marker.setAnimation(null);
					} else {
						marker.setAnimation(google.maps.Animation.BOUNCE);
					}
				}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIK-VdrBnvSjxJob_Y0qMwgWON9eM4pMM&callback=initMap">
			</script>
		</div>
		<div class="wrap">
			<div class="desc">
				<div>
					<h2>Etkinlik Yeri</h2>
					<p>Karadeniz Teknik Üniversitesi<br/> <b>Prof. Dr. Osman Turan Kültür ve Konferans Merkezi</b>'nde yapılacaktır.</p>
					<h2 style="margin-top:20px">Konaklama</h2>
					<p>Bu konuyla alakalı en uygun imkanları en kısa sürede sizinle paylaşacağız.</p>
				</div>
				<div>
					<h2>Ulaşım</h2>
					<p>Atatürk Alanından <b>(Meydan)</b> kalkan dolmuşlar yardımıyla ulaşım sağlanabilir. Ayrıca <b>Akçaabat - KTÜ ve Beşirli - KTÜ</b> belediye otobüs seferleriyle konferans binasına ulaşılabilir.</p>
					<p><b>Gümüşhane'den gelecekler</b> <a href="https://www.facebook.com/SihirliBarnaklar" target="_blank">Yasin Karadeniz</a> ile iletişime geçebilir</p>
					<p><b>Karabük'den gelecekler</b> <a href="https://www.facebook.com/CihAniKo" target="_blank">Cihan Şahin</a> ile iletişime geçebilir</p>
				</div>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="wrap">
			<h1>İLETİŞİM</h1>

			<div class="contact-inner">
				<form action="/send-mail" method="POST" class="contact-form">
					<div>
						<label for="name">Adınız ve Soyadınız</label>
						<input type="text" name="name" id="name">
						<span class="input-edges"></span>
					</div>
					<div>
						<label for="email">E-Posta Adresiniz</label>
						<input type="text" name="email" id="email">
						<span class="input-edges"></span>
					</div>
					<div>
						<label for="message">Mesajınız</label>
						<textarea name="message" name="message" id="message" cols="30" rows="10"></textarea>
					</div>
					<div><button type="submit">Mesajı Gönder</button></div>
				</form>

				<div class="contact-info">
					<div>
						<h2>Sosyal Medya</h2>
						<p>Aşağıda yer alan sosyal medya bağlantıları ile etkinlik hakkında gelişmeleri yakından takip edebilirsiniz.</p>

						<div class="accounts">
							<a href="https://facebook.com/kodlaco" class="facebook"><i class="icon-fb"></i>Facebook</a>
							<a href="https://twitter.com/kodlaco" class="twitter"><i class="icon-tw"></i>Twitter</a>
						</div>
					</div>

					<div>
						<h2>Hemen İletişime Geçin</h2>
						<p>İletişim formunu kullanmak yerine bize e-posta ile ulaşabilirsiniz. <a href="mailto:&#099;&#111;&#110;t&#097;&#099;t&#064;&#107;&#111;&#100;&#108;&#097;&#046;&#099;&#111;">&#099;&#111;&#110;t&#097;&#099;t&#064;&#107;&#111;&#100;&#108;&#097;&#046;&#099;&#111;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sponsors">
		<h1>SPONSORLAR</h1>

		<div class="main-sponsors">
			<a href="http://vngrs.com/" target="_blank"><img src="{% static 'img/logos/vngrs-new.png' %}" width="140" alt=""></a>
			<a href="http://unicrow.com" target="_blank"><img src="{% static 'img/logos/unicrow.png' %}" height="70" width="138" alt="Unicrow"></a>
		</div>

		<div class="other-sponsors">
			<a href="http://hipolabs.com" target="_blank"><img src="{% static 'img/logos/hipo.png' %}" width="100" alt=""></a>
			<a href="http://of.bel.tr/" target="_blank"><img src="{% static 'img/logos/of-belediyesi.jpg' %}" width="64" alt=""></a>
			<a href="http://qualifylabs.com/" target="_blank"><img src="{% static 'img/logos/qualify-logo.png' %}" width="125" alt=""></a>
			<a href="http://www.rsiletisim.com.tr/" target="_blank"><img src="{% static 'img/logos/rs-iletisim-small.png' %}" width="165" alt=""></a>
			<a href="http://www.ilbank.gov.tr/" target="_blank"><img src="{% static 'img/logos/ilbank.jpg' %}" height="90"></a>
		</div>
		<div class="other-sponsors">
			<a href="http://188.166.24.135/" target="_blank"><img src="{% static 'img/logos/mavialp.png' %}" width="100" alt=""></a>
			<a href="http://tekobiz.com.tr" target="_blank"><img src="{% static 'img/logos/tekobiz.png' %}" width="160" alt=""></a>
			<a href="http://www.onurteknoloji.com" target="_blank"><img src="{% static 'img/logos/onur-teknoloji.png' %}" width="140" alt=""></a>
			<a href="http://www.aliosmanulusoy.com/" target="_blank"><img src="{% static 'img/logos/aou.jpg' %}" width="170" alt=""></a>
		</div>
		<div class="other-sponsors">
			<a href="http://bulutbil.com.tr" target="_blank"><img src="{% static 'img/logos/bbs.png' %}" width="90" alt=""></a>
			<a href="http://www.indir.com/" target="_blank"><img src="{% static 'img/logos/indir_logo.png' %}" width="150" alt=""></a>
			<a href="http://shiftdelete.net/" target="_blank"><img src="{% static 'img/logos/shiftdelete_logo.png' %}" width="150" alt=""></a>
		</div>
		<div class="other-sponsors">
			<a href="https://www.facebook.com/ktubmk" target="_blank"><img src="{% static 'img/logos/ktucec.png' %}" width="70" alt=""></a>
			<a href="https://www.facebook.com/groups/trabzonhs/" target="_blank"><img src="{% static 'img/logos/trabzon-hs.png' %}" height="82" width="70" alt=""></a>
			<a href="https://www.facebook.com/ktueek" target="_blank"><img src="{% static 'img/logos/ec.png' %}" width="95" alt=""></a>
		</div>

		{% if activity.activity_documents.first %}
			<div class="other-sponsors">
				<a href="{{ activity.activity_documents.first.document.url }}" class="btn btn-red" target="_blank"><i class="fa fa-file-pdf-o"></i> Sponsor Ol</a>
			</div>
		{% endif %}
	</section>
{% endblock %}
