.footer {
  padding-top: 10px;
  text-align: center;
}

.footer table {
  border-collapse: separate;
  width: 100%;
}

.footer table td {
  font-family: sans-serif;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  border-bottom: none;
}

.footer table span {
  color: #999999;
  font-size: 12px;
  text-align: center;
}

.footer table a {
  text-decoration: underline;
  color: #999999;
  font-size: 12px;
  text-align: center;
}
